---
layout: default
---
<style>
  .toc{
    background-color: #FFF;
    margin: 5px 0;
    padding: 10px 30px;
    border: 1px solid #E8E8E8;
    border-radius: 3px;
  }
  .toctitle{
    text-align: center;
    color:black;
    font-weight: bold;
    font-size: 20px;
  }

</style>

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date: '%Y-%m-%d' }}</span>

  {% if page.category %} &nbsp;
  {{page.author}}
  {% endif %}

  {% if page.category %} &nbsp;
  {% for tag in page.category %}
    <a href="{{ site.baseurl }}{{ site.category_page }}#{{ tag | slugify }}" class="post-category">{{ tag }}</a>
  {% endfor %}
  {% endif %}

  {% if page.tags %} &nbsp;
  {% for tag in page.tags %}
    <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
  {% endfor %}
  {% endif %}
  <article>
    <div class="toc" >
      <div class="toctitle"> 目录 </div>
      {% include toc.html html=content h_min = 1 h_max = 2%}
    </div>
    {{ content }}
  </article>
</div>


<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>


<!-- Link Gitalk 的支持文件 -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

  <!-- Gitalk 评论 start  -->
  <div id="gitalk-container"></div>
      <script type="text/javascript">
      var title = location.pathname.substr(0, 50);//截取路径的前50个字符作为标识符
      var gitalk = new Gitalk({

      // gitalk的主要参数
          clientID:'b0e3569bcd86efbd4f21',
          clientSecret:'9f09c50206e80566fb8e3c5c890ef638d1b889fc',
          repo:'blog-comments',
          owner: 'zhufang9819',
          admin: ['zhufang9819'],
          id: title,//因为这里不能超过50字符，所以做了处理，当超过50时自动截取前50

      });
      gitalk.render('gitalk-container');
      </script>
  <!-- Gitalk end -->


